<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload and Display Data</title>
</head>
<body>
<h1>Upload a file</h1>
<p th:if="${message}" th:text="${message}"></p>
<form method="POST" enctype="multipart/form-data" th:action="@{/api/fitness/uploadFile}">
    <input type="file" name="file"/>
    <button type="submit">Upload</button>
</form>

<h2>Members and Their Classes</h2>
<div th:if="${isWrapper}">
    <table>
        <thead>
        <tr>
            <th>Member Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Class Title</th>
            <th>Instructor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="membru : ${parsedData.salaDeFitness.membri}">
            <td th:text="${membru.nume}"></td>
            <td th:text="${membru.contact.email}"></td>
            <td th:text="${membru.contact.telefon}"></td>
            <th:block th:each="rezervare : ${membru.rezervari}">
                <td th:text="${claseDetails[rezervare.clasa_id].titlu}"></td>
                <td th:text="${claseDetails[rezervare.clasa_id].instructor}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${!isWrapper}">
    <table>
        <thead>
        <tr>
            <th>Member Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Class Title</th>
            <th>Instructor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="membru : ${parsedData.membri}">
            <td th:text="${membru.nume}"></td>
            <td th:text="${membru.contact.email}"></td>
            <td th:text="${membru.contact.telefon}"></td>
            <th:block th:each="rezervare : ${membru.rezervari}">
                <td th:text="${claseDetails[rezervare.clasa_id].titlu}"></td>
                <td th:text="${claseDetails[rezervare.clasa_id].instructor}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>
<div th:unless="${parsedData}">
    <p>No data available. Please upload a file first.</p>
</div>
</body>
</html>